body{
    height: 300px;
    background-image: url("../image/bg.jpg");
    font-size: 14px;
}
a{
    text-decoration: none;
}
.container-header{
    background-color: #ffffff;
    border-radius: 4px;
    margin-top: 90px;
    margin-bottom: 30px;
}
.question-left{
    border-right: 1px solid rgb(230, 230, 230);
    padding: 0 30px;
}
.question-form{
    padding: 23px;
}
.label-bottom label{
    margin-bottom: 10px;
}
.btn-publish{
    float: right;
    margin-bottom: 10px;
}
.tip-list{
    margin-left: -20px;
    margin-top: 53px;
}
.tip-list li{
    margin-top: 10px;
    line-height: 25px;
}
.question-right{
    border-left: 1px solid rgb(229, 229, 229);
    padding-top: 30px;
}
.top-avatar{
    width: 25px;
	border-radius: 5px;
    margin-top: -4px;
}
.left-avatar{
    width: 42px;
    border-radius: 4px;
}
.title{
    font-size: 20px;
    padding-left: 10px;
}
.title span{
    font-weight: normal;
}
.right-top-title{
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 3px;
}
.content{
    font-size: 12px;
    padding: 0;
    line-height: 20px;
}
.content>li{
    float: left;
    color: rgb(220, 220, 220);
    margin-right: 18px;
}
hr{
    margin-bottom: 0;
    margin-top: 10px;
}
.border{
    height: 77px;
    padding: 14px 10px;
    border-top: 1px solid rgb(230, 230, 230);
    margin-top: 0;
}
.border p{
    color: #999;
    line-height: 20px;
    margin: 0;
}
.paging{
    float: right;
}
.question-left .text-muted, .name-right{
    font-size: 12px;
}
.description, div.edit{
    margin: 15px 0;
}
.launch-person{
    width: 32px;
}
launch-person-name{
    margin-bottom: 2px;
}