<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>码匠社区</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script type="application/javascript" src="/js/jquery-1.12.4.js" ></script>
    <script type="application/javascript" src="/js/bootstrap.min.js" ></script>
</head>
<body>
    <div class="jumbotron jumbotron-header">
        <h1>出错了！！！</h1>
        <p th:text="${message}">暂无信息可用</p>
        <p><a class="btn btn-primary btn-lg" href="/" role="button">返回主页</a></p>
    </div>
</body>
</html>