<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>码匠社区</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script type="application/javascript" src="/js/jquery-1.12.4.js" ></script>
    <script type="application/javascript" src="/js/bootstrap.min.js" ></script>

    <!--<link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../static/css/community.css">
    <script type="application/javascript" src="../static/js/jquery-1.12.4.js" ></script>
    <script type="application/javascript" src="../static/js/bootstrap.min.js" ></script>-->
</head>
<body>
<!--    头部导航栏-->
    <div th:replace="index::header"></div>
	
	<!-- 首页列表 -->  
	<div class="container container-header">
        <div class="row">
            <div class="col-md-9 col-sm-12 col-xs-12">
                <h3 class="title"><span th:text="${sectionName}"></span></h3>
                <hr>
				<div class="media border" th:if="${data.getQuestions()!=null}" th:each="question: ${data.getQuestions()}">
				  <div class="media-left media-middle">
					<a href="#">
					  <img class="media-object left-avatar" th:src="${question.getAvatarUrl()}" οnerrοr="javascript:this.src='image/avatar.jpeg'">
					</a>
				  </div>
				  <div class="media-body">
					<h4 class="media-heading right-top-title"><a href="#"><span th:text="${question.getTitle()}"></span></a></h4>
                    <ul class="content clearfix">
                      <li><span th:text="${question.getCommentCount()}"></span>个回复</li>
                      <li><span th:text="${question.getViewCount()}"></span>次浏览</li>
                      <li><span th:text="${#dates.format(question.getGmtModified(), 'yyyy月mm-dd')}"></span></li>
                    </ul>
				  </div>
				</div>

                <nav aria-label="Page navigation" class="clearfix">
                    <ul class="pagination paging">
                        <li th:if="${data.getPageNum()>4}">
                            <a th:href="@{/(pageNum=1)}" aria-label="First">
                                <span aria-hidden="true">&lt;&lt;</span>
                            </a>
                        </li>
                        <li th:if="${data.getPageNum()!=1}">
                            <a th:href="@{/profile/question(pageNum=${data.getPageNum()}-1)}" aria-label="Previous">
                                <span aria-hidden="true">&lt;</span>
                            </a>
                        </li>
                        <li th:each="page: ${data.getPages()}" th:class="${page==data.getPageNum()}?'active':''"><a th:href="@{/profile/question(pageNum=${page})}"><span th:text="${page}"></span></a></li>
                        <li th:if="${data.getPageNum()!=data.getPagesCount()}">
                            <a th:href="@{/profile/question(pageNum=${data.getPageNum()}+1)}" aria-label="Next">
                                <span aria-hidden="true">&gt;</span>
                            </a>
                        </li>
                        <li th:if="${data.getPageNum()<data.getPagesCount()-3}">
                            <a th:href="@{/profile/question(pageNum=${data.getPagesCount()})}" aria-label="Last">
                                <span aria-hidden="true">&gt;&gt;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
			<div class="col-md-3 col-sm-12 col-xs-12 topic-list">
                <div class="list-group">
                    <a href="/profile/question" class="list-group-item active">我的问题</a>
                    <a href="/profile/replies" class="list-group-item"><span class="badge">14</span>最新回复</a>
                </div>
			</div>
	    </div>
	</div>
</body>
</html>