a {
  text-decoration: none;
}
.border {
  width: 100%;
  background-color: #000;
}
.header {
  width: 94%;
  max-width: 1221px;
  height: 48px;
  padding: 0 3%;
  margin: 0 auto;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .left .meitu-icon {
  width: 18px;
  height: 48px;
  position: relative;
}
.header .left .meitu-icon li {
  width: 100%;
  height: 1px;
  background-color: #fff;
  position: absolute;
  transform-origin: left center;
  transition: 0.3s;
}
.header .left .meitu-icon li:nth-child(1) {
  top: 18px;
}
.header .left .meitu-icon li:nth-child(2) {
  top: 24px;
}
.header .left .meitu-icon li:nth-child(3) {
  top: 30px;
}
.header .left .nav {
  position: absolute;
  top: 48px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  transition: 0.3s;
  background-color: #000;
  display: none;
  padding-top: 35px;
}
.header .left .nav li {
  width: 82%;
  line-height: 44px;
  border-bottom: 1px solid #242424;
  margin: 0 auto;
  color: #FFF;
  font-size: 14px;
}
.header .left .nav li a {
  display: block;
  color: #FFF;
  margin-right: 10px;
  font-size: 14px;
}
.header .left .nav li a:hover {
  color: #aaaaaa;
}
.header .left .nav li:last-child a {
  display: inline-block;
}
.header .left:hover .meitu-icon li:nth-child(1) {
  transform: rotateZ(42deg);
}
.header .left:hover .meitu-icon li:nth-child(2) {
  opacity: 0;
}
.header .left:hover .meitu-icon li:nth-child(3) {
  transform: rotateZ(-42deg);
}
.header .left:hover .nav {
  display: block;
}
.header .center a {
  display: block;
  width: 122px;
  height: 32px;
  background-image: url("../images/all.png");
  background-size: 400px 400px;
  transition: opacity 0.4s;
}
.header .center a:hover {
  opacity: 0.7;
}
.header .right a {
  display: block;
  width: 22px;
  height: 34px;
  background-image: url("../images/all.png");
  background-size: 400px 400px;
  background-position-x: 235px;
}
@media only screen and (min-width: 768px) {
  .header .left {
    width: 80%;
    order: 2;
  }
  .header .left .meitu-icon {
    display: none;
  }
  .header .left .nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: static;
    padding: 0;
  }
  .header .left .nav li a {
    text-align: center;
    width: 100%;
  }
  .header .left .nav li span {
    display: none;
  }
  .header .left:hover ul.nav {
    display: flex;
  }
  .header .center {
    order: 1;
  }
  .header .right {
    order: 3;
  }
}
