<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.potal.dao.TicketMapper" >
  <resultMap id="BaseResultMap" type="com.atguigu.bean.Ticket" >
   		<id column="id" property="id"/>
		<result column="memberid" property="memberid"/>
		<result column="piid" property="piid"/>
		<result column="status" property="status"/>
		<result column="authcode" property="authcode"/>
		<result column="pstep" property="pstep"/>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_Ticket
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.atguigu.bean.Ticket">
    insert into t_Ticket (memberid,status,pstep)
    values (#{memberid},#{status},#{pstep})
  </insert>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select * from t_Ticket where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="getTicketByMemberid" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select * from t_Ticket where memberid = #{memberid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select * from t_Ticket
  </select>
  <select id="getTicketByPiid" resultMap="BaseResultMap" >
    select * from t_Ticket where piid=#{piid}
  </select>
  <update id="updatePstep" parameterType="com.atguigu.bean.Ticket">
  	update t_Ticket set pstep = #{pstep}
  	<if test="authcode!=null">
  		,authcode=#{authcode}
  	</if>
  	<if test="piid!=null">
  		,piid=#{piid}
  	</if>
  	where id = #{id}
  </update>
  <update id="updateStatus" parameterType="com.atguigu.bean.Ticket">
  	update t_Ticket set status = '1'
  	where memberid = #{memberid} and status='0'
  </update>
</mapper>